{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}
<h2 class="heading style1">Bestellungen</h2>

                        <table cellpadding="0" cellspacing="0">
                          <thead>
                            <tr>
                              <th><h3 class="heading style3">Rechnung</h3></th>
                              <th><h3 class="heading style3">Datum</h3></th>
                              <th><h3 class="heading style3">Status</h3></th>
                              <th><h3 class="heading style3">Anzeigen</h3></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for bill in bills %}
                            <tr>
                              <td><p>{{ bill.rechnungsnummer }}</p></td>
                              <td><p>{{ bill.date|date('d.m.Y') }}</p></td>
                              <td>
                              <p>
                                {% if bill.paid %} 
                                  <stong class="payed">bezahlt</stong> 
                                {% else %}
                                 <stong class="notpayed">nicht bezahlt</stong> 
                                {% endif %}
                              </p>
                               </td>
                              <td><a class="show" target="_blank" href="/uploads/bills/{{ bill.path }}">Show</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="4"><small></small></td>
                            </tr>
                          </tfoot>
                        </table>

{% endblock %}
