{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}
<h2>Bestellungen</h2>

<ul>
  {% for bill in bills %}
    <li>Rechnung vom {{ bill.date|date('d.m.Y') }} - {{ bill.rechnungsnummer }} <a target="_blank" href="/uploads/bills/{{ bill.path }}">Hier</a>
      {% if bill.paid %}
         <stong>bezahlt</stong>
      {% else %}
        <stong>nicht bezahlt</stong>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endblock %}
