@charset "CP850";
/* Imports ___________________________________________*/
/*Komplettes Compass Framework*/
/* Farben _________________________________________________ */
/* blau */
/* grau */
/* Verläufe _______________________________________________ */
/* Indizes ________________________________________________ */
/* Mixins _________________________________________________ */
.meta-nav a, .btn {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.meta-nav a:active, .meta-nav a:hover, .meta-nav a:focus, .btn:active, .btn:hover, .btn:focus {
  text-shadow: 1px 1px 1px white;
}

/* Fertige */
/*Base64 background-image*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media screen {
  .cols {
    margin: 0;
    zoom: 1;
  }
  .cols:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }

  .col {
    float: left;
    min-height: 1px;
  }
  .col:first-child {
    margin-left: 0;
  }

  .c12of12 {
    margin-left: 2.1276%;
    width: 100%;
  }

  .c11of12 {
    margin-left: 2.1276%;
    width: 91.48937%;
  }

  .c10of12 {
    margin-left: 2.1276%;
    width: 82.97873%;
  }

  .c9of12 {
    margin-left: 2.1276%;
    width: 74.4681%;
  }

  .c8of12 {
    margin-left: 2.1276%;
    width: 65.95747%;
  }

  .c7of12 {
    margin-left: 2.1276%;
    width: 57.44683%;
  }

  .c6of12 {
    margin-left: 2.1276%;
    width: 48.9362%;
  }

  .c5of12 {
    margin-left: 2.1276%;
    width: 40.42557%;
  }

  .c4of12 {
    margin-left: 2.1276%;
    width: 31.91493%;
  }

  .c3of12 {
    margin-left: 2.1276%;
    width: 23.4043%;
  }

  .c2of12 {
    margin-left: 2.1276%;
    width: 14.89367%;
  }

  .c1of12 {
    margin-left: 2.1276%;
    width: 6.38303%;
  }

  /* Extends __________________________________________________________ */
  /* runde Ecken */
  .input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  .search .input {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }

  /* Schatten */
  .login-form {
    -webkit-box-shadow: 0 6px 7px -2px rgba(93, 93, 93, 0.8);
    -moz-box-shadow: 0 6px 7px -2px rgba(93, 93, 93, 0.8);
    box-shadow: 0 6px 7px -2px rgba(93, 93, 93, 0.8);
  }

  .btn {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 79, 159, 0.8);
    -moz-box-shadow: 2px 2px 2px rgba(0, 79, 159, 0.8);
    box-shadow: 2px 2px 2px rgba(0, 79, 159, 0.8);
  }

  .meta {
    -webkit-box-shadow: 0 3px 5px rgba(93, 93, 93, 0.8);
    -moz-box-shadow: 0 3px 5px rgba(93, 93, 93, 0.8);
    box-shadow: 0 3px 5px rgba(93, 93, 93, 0.8);
  }

  /* Sonstige */
  .login-btn, .btn, .input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Allgemein ________________________________________________________ */
  * {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .box {
    padding: 15px;
  }

  /* Layout */
  .wrapper {
    width: 100%;
  }

  header {
    min-height: 150px;
    position: relative;
  }

  .inner {
    display: block;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    width: 960px;
  }

  footer {
    border: solid #004f9f;
    border-width: 5px 0 5px;
  }

  .logo {
    display: inline-block;
    left: 15px;
    position: absolute;
    top: 50px;
  }

  /* Warenkorb */
  .amount,
  .price,
  .text {
    display: inline-block;
  }

  .card {
    background: #004f9f;
    display: block;
    height: 40px;
    position: relative;
  }

  .amount {
    background: #004f9f;
    display: inline-block;
    height: 40px;
    width: 40px;
  }
  .amount span {
    left: 40px;
    position: absolute;
    top: 10px;
  }

  .price {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  /* Navigation _______________________________________________________ */
  .meta {
    background: #399bff;
    border-top: 5px solid #004f9f;
    height: 40px;
    width: 100%;
    z-index: 1;
  }

  .meta-nav li,
  .main-nav li,
  .footer-nav li {
    float: left;
  }

  .meta-nav li,
  .footer-nav li {
    margin-left: 10px;
  }
  .meta-nav li:first-child,
  .footer-nav li:first-child {
    margin-left: 0;
  }

  /* Metanavigation */
  .meta-nav {
    position: absolute;
    right: 100px;
    top: 10px;
    width: 200px;
  }
  .meta-nav a:active,
  .meta-nav a:hover,
  .meta-nav a:focus {
    border-bottom: 1px dotted #2a2a2a;
  }

  /* Suche */
  .search {
    position: absolute;
    right: 15px;
    top: 80px;
  }
  .search .btn {
    margin-left: -5px;
  }

  /* Login-menu */
  .login {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .login:active .login-form, .login:hover .login-form, .login:focus .login-form {
    display: block;
  }
  .login:active .login-btn, .login:hover .login-btn, .login:focus .login-btn {
    background: #004f9f;
  }

  .login-btn {
    background: #fff;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    padding: 5px 5px 7px;
    width: 80px;
  }

  .login-form {
    background: #fff;
    border: solid #0682ff;
    border-width: 0 2px 2px;
    display: none;
    padding: 20px 20px 50px;
    position: absolute;
    right: -2px;
    width: 400px;
    z-index: 5;
  }
  .login-form li {
    float: left;
    margin-left: 5px;
  }
  .login-form li:first-child {
    margin: 0;
  }

  .register {
    bottom: 20px;
    left: 20px;
    position: absolute;
  }
  .register li {
    margin-left: 10px;
  }
  .register li:first-child {
    margin: 0;
  }
  .register li:active, .register li:hover, .register li:focus {
    border-bottom: 1px dotted #2a2a2a;
  }

  /* Hauptnavigation */
  .main-nav {
    bottom: 0;
    position: relative;
  }
  .main-nav .layer0 {
    display: table;
    width: 100%;
  }
  .main-nav .layer0 > li {
    display: table-cell;
    width: 33.33%;
  }
  .main-nav .layer0 > li a {
    background: #004f9f;
  }
  .main-nav .layer0 > li a:active,
  .main-nav .layer0 > li a:hover,
  .main-nav .layer0 > li a:focus,
  .main-nav .layer0 > li strong {
    background: #004f9f;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
  }
  .main-nav .layer0 > li a,
  .main-nav .layer0 > li strong {
    display: block;
    padding: 10px;
  }
  .main-nav .layer0 > li strong a {
    margin: -12px;
  }
  .main-nav .layer1 {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    display: none;
  }

  /* Footer-Navigation */
  .footer-nav {
    height: 100px;
  }

  /* Produkte */
  .products li {
    float: left;
    margin: 10px 5px 0;
    padding: 5px;
  }

  .product-card {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    border: 2px solid #004f9f;
    display: block;
    position: relative;
    width: 400px;
  }
  .product-card .heading {
    margin-bottom: 20px;
  }

  .image {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    border: 1px solid #004f9f;
    margin-bottom: 20px;
  }
  .image img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  .add {
    display: inline-block;
  }

  .rating li {
    margin-left: 5px;
    padding: 0;
  }
  .rating li:first-child {
    margin-left: 0;
  }
  .rating a {
    background: green;
    display: block;
    height: 20px;
    width: 20px;
  }

  /* Filter */
  .filter {
    background: #004f9f;
  }
  .filter label {
    margin-left: 5px;
  }

  /* Button */
  .btn {
    background: #004f9f;
    border: 1px solid #004f9f;
    cursor: pointer;
    height: 30px;
    padding: 5px 5px 7px;
  }
  .btn:active, .btn:hover, .btn:focus {
    background: #399bff;
  }

  .input {
    border: 1px solid #004f9f;
    height: 30px;
    padding: 5px;
  }
}
/* Allgemein ______________________________________________ */
body {
  font-size: 62.5%;
  font-family: "Arial";
}

a {
  color: #0068d2;
  font-size: 1.4em;
  text-decoration: none;
}

/* Header */
.text {
  height: 0;
}

/* Navigation _____________________________________________ */
/* Hauptnavigation */
.main-nav a,
.main-nav strong {
  text-shadow: rgba(0, 0, 0, 0.8);
  font-size: 1.4em;
}
.main-nav strong a {
  font-size: 1em;
}

.layer0 {
  text-align: center;
}
.layer0 > li > a {
  text-decoration: none;
}
.layer0 > li > a,
.layer0 > li > strong,
.layer0 > li > strong a {
  color: #fff;
}
.layer0 a:active,
.layer0 a:hover,
.layer0 a:focus,
.layer0 strong {
  text-decoration: underline;
}

/* Meta-navigation */
.meta-nav a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
.meta-nav a:active, .meta-nav a:hover, .meta-nav a:focus {
  color: #2a2a2a;
}

/* Login-menu */
.login:active .login-btn, .login:hover .login-btn, .login:focus .login-btn {
  color: #6cb5ff;
}

.login-btn {
  color: #004f9f;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2.3;
  text-align: center;
  text-decoration: none;
}

.register a:active,
.register a:hover,
.register a:focus {
  color: #2a2a2a;
}

/* Produkte */
.product-card .heading {
  text-align: center;
}

.rating {
  text-indent: -999em;
}

.booking {
  font-size: 2em;
}
.booking span {
  font-size: 0.5em;
}

/* Button */
.btn {
  color: #fff;
  font-weight: bold;
}
.btn:active, .btn:hover, .btn:focus {
  color: #2a2a2a;
}

.input {
  color: #004f9f;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
