/* Imports ___________________________________________*/
/*Komplettes Compass Framework*/
/* Farben _________________________________________________ */
/* blau */
/* grau */
/* Mixins _____________________________________________*/
/*Base64 background-image*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media screen {
  .cols {
    margin: 0;
    zoom: 1;
  }
  .cols:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }

  .col {
    float: left;
    min-height: 1px;
  }
  .col:first-child {
    margin-left: 0;
  }

  .c12of12 {
    margin-left: 2.1276%;
    width: 100%;
  }

  .c11of12 {
    margin-left: 2.1276%;
    width: 91.48937%;
  }

  .c10of12 {
    margin-left: 2.1276%;
    width: 82.97873%;
  }

  .c9of12 {
    margin-left: 2.1276%;
    width: 74.4681%;
  }

  .c8of12 {
    margin-left: 2.1276%;
    width: 65.95747%;
  }

  .c7of12 {
    margin-left: 2.1276%;
    width: 57.44683%;
  }

  .c6of12 {
    margin-left: 2.1276%;
    width: 48.9362%;
  }

  .c5of12 {
    margin-left: 2.1276%;
    width: 40.42557%;
  }

  .c4of12 {
    margin-left: 2.1276%;
    width: 31.91493%;
  }

  .c3of12 {
    margin-left: 2.1276%;
    width: 23.4043%;
  }

  .c2of12 {
    margin-left: 2.1276%;
    width: 14.89367%;
  }

  .c1of12 {
    margin-left: 2.1276%;
    width: 6.38303%;
  }

  /* Extends */
  .main-nav .layer0 > li a {
    background-color: blue;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0000ff), color-stop(100%, #00008b));
    background: -webkit-linear-gradient(top, #0000ff, #00008b);
    background: -moz-linear-gradient(top, #0000ff, #00008b);
    background: -o-linear-gradient(top, #0000ff, #00008b);
    background: linear-gradient(top, #0000ff, #00008b);
  }
  .lt-ie9 .main-nav .layer0 > li a, .main-nav .layer0 > li .lt-ie9 a {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=blue, endColorstr=darkblue);
  }

  .main-nav .layer0 > li a:active,
  .main-nav .layer0 > li a:hover,
  .main-nav .layer0 > li a:focus,
  .main-nav .layer0 > li strong {
    background-color: lightblue;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #add8e6), color-stop(100%, #0000ff));
    background: -webkit-linear-gradient(top, #add8e6, #0000ff);
    background: -moz-linear-gradient(top, #add8e6, #0000ff);
    background: -o-linear-gradient(top, #add8e6, #0000ff);
    background: linear-gradient(top, #add8e6, #0000ff);
  }
  .lt-ie9 .main-nav .layer0 > li a:active, .main-nav .layer0 > li .lt-ie9 a:active,
  .lt-ie9 .main-nav .layer0 > li a:hover,
  .main-nav .layer0 > li .lt-ie9 a:hover,
  .lt-ie9 .main-nav .layer0 > li a:focus,
  .main-nav .layer0 > li .lt-ie9 a:focus,
  .lt-ie9 .main-nav .layer0 > li strong,
  .main-nav .layer0 > li .lt-ie9 strong {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lightblue, endColorstr=blue);
  }

  .card {
    background-color: lightgrey;
    background: url("http://placekitten.com/g/30/30") 10px 50% no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d3d3d3), color-stop(100%, #808080));
    background: url("http://placekitten.com/g/30/30") 10px 50% no-repeat, -webkit-linear-gradient(top, #d3d3d3, #808080);
    background: url("http://placekitten.com/g/30/30") 10px 50% no-repeat, -moz-linear-gradient(top, #d3d3d3, #808080);
    background: url("http://placekitten.com/g/30/30") 10px 50% no-repeat, -o-linear-gradient(top, #d3d3d3, #808080);
    background: url("http://placekitten.com/g/30/30") 10px 50% no-repeat, linear-gradient(top, #d3d3d3, #808080);
  }
  .lt-ie9 .card {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=lightgray, endColorstr=gray);
  }

  /* Allgemein ________________________________________________________ */
  * {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .box {
    padding: 15px;
  }

  /* Layout */
  .wrapper {
    margin: 20px;
  }

  header {
    min-height: 150px;
    position: relative;
  }

  footer {
    padding: 20px;
  }

  /* Warenkorb */
  .amount,
  .price,
  .text {
    display: inline-block;
  }

  .card {
    display: block;
    padding: 10px 10px 10px 40px;
    position: relative;
  }

  .amount {
    left: 40px;
    position: absolute;
    top: 20px;
  }

  .price {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  /* Navigation _______________________________________________________ */
  .meta-nav li,
  .main-nav li,
  .footer-nav li {
    float: left;
  }

  .meta-nav li,
  .footer-nav li {
    margin-left: 10px;
  }
  .meta-nav li:first-child,
  .footer-nav li:first-child {
    margin-left: 0;
  }

  .meta-nav,
  .search {
    position: absolute;
  }

  /* Metanavigation */
  .meta-nav {
    right: 120px;
    top: 0;
    width: 300px;
  }

  /* Suche */
  .search {
    position: absolute;
    right: 10px;
    top: 15px;
  }

  /* Hauptnavigation */
  .main-nav {
    bottom: 0;
    position: relative;
  }
  .main-nav .layer0 {
    display: table;
    width: 100%;
  }
  .main-nav .layer0 > li {
    display: table-cell;
    width: 33.33%;
  }
  .main-nav .layer0 > li a,
  .main-nav .layer0 > li strong {
    display: block;
    padding: 10px;
  }
  .main-nav .layer0 > li strong a {
    margin: -10px;
  }
  .main-nav .layer1 {
    display: none;
  }

  /* Footer-Navigation */
  /* Produkte */
  .products li {
    float: left;
    margin: 10px 5px 0;
    padding: 5px;
  }

  .product-card {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    display: block;
    min-height: 700px;
    position: relative;
    width: 300px;
  }

  .image {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    margin: 0;
  }
  .image img {
    display: block;
    margin: 0 auto 20px;
  }

  .booking {
    bottom: 25px;
    height: 50px;
    position: absolute;
    right: 15px;
  }

  .add {
    bottom: -10px;
    display: inline-block;
    position: absolute;
    right: -30px;
    width: 140px;
  }

  .rating {
    bottom: 15px;
    left: 15px;
    position: absolute;
  }
  .rating li {
    margin-left: 5px;
    padding: 0;
  }
  .rating li:first-child {
    margin-left: 0;
  }
  .rating a {
    background: green;
    display: block;
    height: 20px;
    width: 20px;
  }

  /* Filter */
  .filter label {
    margin-left: 5px;
  }
}
/* Allgemein ______________________________________________ */
body {
  font-size: 62.5%;
}

/* Header */
.text {
  text-indent: -999em;
}

/* Navigation _____________________________________________ */
/* Hauptnavigation */
.main-nav a,
.main-nav strong {
  font-size: 1.4em;
}
.main-nav strong a {
  font-size: 1em;
}

.layer0 {
  text-align: center;
}
.layer0 > li > a {
  text-decoration: none;
}
.layer0 > li > a,
.layer0 > li > strong,
.layer0 > li > strong a {
  color: #fff;
}
.layer0 a:active,
.layer0 a:hover,
.layer0 a:focus,
.layer0 strong {
  text-decoration: underline;
}

/* Produkte */
.rating {
  text-indent: -999em;
}

.booking {
  font-size: 2em;
}
.booking span {
  font-size: 0.5em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
