{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}
<h2 class="heading style1">Account löschen</h2>


    
    <div class="cols">
      <div class="col c6of12">

        <a href="{{ path('account_account_delete') }}">Account unwiderruflich löschen.</a>
        
      </div> <!-- c6of12 -->
    </div>



{% endblock %}
