{% extends "::base.html.twig" %}

{% block title %} Accountverwaltung{% endblock %}

{% block body %}
<h1>Verwaltung</h1>
<h2>Accountverwaltung</h2>

<a href="{{ path('account_adress') }}">Adressinformationen</a>

<h2>Bestellungen</h2>


<a href="{{ path('account_bill') }}">Rechnungen</a>
<br>



{% endblock %}
