{% extends "::base.html.twig" %}

{% block title %} Accountverwaltung{% endblock %}

{% block body %}
<h1>Accoutnverwaltung</h1>

<a href="{{ path('account_adress') }}">Adressinformationen</a>
<br>

{% endblock %}
