{% extends 'WebShopBundle::user.html.twig' %}

{% block title %} Accountverwaltung{% endblock %}

{% block content %}
<h2>Accountverwaltung</h2>

<a href="{{ path('account_adress') }}">Adressinformationen</a><br>
<a href="{{ path('account_bill') }}">Bestellungen</a>


{% endblock %}
