/* Allgemein ______________________________________________ */

@include mf-webfont(ExpletusSans-Bold);
@include mf-webfont(ExpletusSans-Regular);

body {
  font-size: 62.5%;
  font-family: "Arial";
}

a {
  color: $medium-blue;
  font-size: 1.4em;
  text-decoration: none;
}

p {
  font-size: 1.4em;
}

/* Header */

.text{
  // text-indent: -999em;
  height: 0;
}

/* Typo _____________________________________________________________ */

.style1,
.style2,
.style3,
.style4 {
  font-family: "ExpletusSans-Bold";
  font-weight: normal;
}

.style1,
.style2 {
  @extend %textshadow-dark;
}

.style1 {
  font-size: 2.4em;
  color: $light-blue;
}

.style2 {
  font-size: 2em;
  color: #fff;
}

.style3 {
  @extend %textshadow-dark;
  color: #fff;
  font-size: 1.6em;
}

.style4 {
  @extend %textshadow-dark;
  color: $light-blue;
  font-size: 1.5em;
}

/* Navigation _____________________________________________ */

/* Hauptnavigation */

.main-nav {
  a,
  strong {
    @include text-shadow(rgba(0,0,0,.8));
    font-family: "ExpletusSans-Bold";
    font-size: 1.5em;
    font-weight: normal;
  }

  strong a {
    font-size: 1em;
  }
}

.layer0 {
  text-align: center;

  > li > {
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  > li:active > a,
  > li:hover > a,
  > li:focus > a,
  > strong {
    color: $dark-grey;
    text-decoration: underline;
  }
}

.layer1 {
  a {
    color: $dark-blue;
  }

  a,
  strong {
    text-align: left;
  }

  li:active a,
  li:hover a,
  li:focus a,
  strong {
    color: #fff;
    text-decoration: underline;
  }
}

/* Meta-navigation */

.meta-nav,
.footer-nav {
  a {
    @extend %textshadow-dark;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      @extend %textshadow-white;
      color: $dark-grey;
    }
  }
}

/* Login-menu */

.login {
  &:active,
  &:hover,
  &:focus {
    .login-btn {
      color: $lighter-blue;
    }
  }
}

.login-btn {
  color: $dark-blue;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2.3;
  text-align: center;
  text-decoration: none;
}

.register {
  a:active,
  a:hover,
  a:focus {
    color: $dark-grey;
  }
}

/* Footer-Nav */

.footer-nav {
  a {
    @extend %textshadow-dark;
    color: #fff;
  }
}

/* Produkte _________________________________________________________ */

.product-card {
  .heading {
    text-align: center;
  }
}

.medium {
  color: $light-blue;
  font-weight: bold;

  strong {
    font-weight: bold;
  }
}

.rating {
  text-indent: -999em;
}

.booking {
  color: $dark-blue;
  font: {
    size: 2em;
  }

  span {
    font: {
      size: 0.5em;
    }
  }
}

/* Warenkorb */

.card {
  &:active,
  &:hover,
  &:focus {
    .amount span {
      color: $light-blue;
    }

    .price {
      color: $medium-grey;
    }
  }
}

.amount span,
.price {
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
}

.price {
  font-family: "ExpletusSans-Bold";
}

.amount span {
  font-family: 'Arial';
}

.not-available {
  color: $red;
}

.storing {
  color: $green;
}

.delivery {
  font-size: 1.3em;
}

/* Filter */

.filter {
  p,
  .label {
    @extend %textshadow-dark;
    color: #fff;
  }

  p {
    font-weight: bold;
  }

  .label {
    &:active,
    &:hover,
    &:focus {
      color: $light-blue;
    }
  }
}

/* Button ___________________________________________________________ */

.btn,
.search-btn {
  @extend %textshadow-dark;
  color: #fff;
  font-family: "ExpletusSans-Bold";
  font-size: 1.5em;
}

.btn {
  line-height: 28px;

  &:active,
  &:hover,
  &:focus {
    @extend %textshadow-white;
    color: $dark-grey;
    font-family: "ExpletusSans-Bold";
  }
}

.search-btn {
  line-height: 36px;

  &:active,
  &:hover,
  &:focus {
    background: $medium-grey;
  }
}

/* Formulare ________________________________________________________ */

.input,
.textarea,
.select {
  color: $dark-blue;
}

.label {
  color: $dark-grey;
  font-size: 1.4em;
}

/* Tabelle __________________________________________________________ */

tfoot {
  small {
    @extend %textshadow-dark;
    color: #fff;
  }
}

/* Links ____________________________________________________________ */

.edit,
.delete,
.show,
.payed,
.notpayed {
  text-indent: -999em;
}