@include mf-layout;

/* Allgemein ________________________________________________________ */

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.box {
  padding: 15px;
}

/* Layout */

header {
  min-height: 150px;
  position: relative;
}

/* Warenkorb */

.amount,
.card,
.price,
.text {
  display: inline-block;    
}

.card {
  background: url('http://placekitten.com/g/30/30') no-repeat;
  padding-left: 40px;
  position: relative;
}

.amount {
  left: 25px;
  position: absolute;
  top: 10px;
}

/* Navigation _______________________________________________________ */

.meta-nav,
.main-nav,
.footer-nav {
  li {
    float: left;
  }
}

.meta-nav,
.footer-nav {
  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.meta-nav,
.search {
  position: absolute;
}

/* Metanavigation */

.meta-nav {
  right: 120px;
  top: 0;
  width: 300px;
}

/* Suche */

.search {
  position: absolute;
  right: 10px;
  top: 15px;
}

/* Hauptnavigation */

.main-nav {
  bottom: 0;
  position: relative;

  .layer0 {
    display: table;
    width: 100%;

    li {
      display: table-cell;
      width: 33.33%;
    }
  }

  .layer1 {
    display: none;
  }
}

/* Footer-Navigation */

.footer-nav {
  li {
  }
}

/* Produkte */

.products {
  li {
    float: left;
    margin: 10px 5px 0;
    padding: 5px;

    &:first-child {
      // margin-left: 0;
    }
  }
}

.product-card {
  @include box-shadow(0 0 3px rgba(0,0,0,.6));
  display: block;
  min-height: 700px;
  position: relative;
  width: 300px;  

}
  
.image {
  @include box-shadow(0 0 3px rgba(0,0,0,.6));
  margin: 0;

  img {
    display: block;
    margin: 0 auto 20px;
  }
}

.booking {
  bottom: 25px;
  height: 50px;
  position: absolute;
  right: 15px;
}

.add {
  bottom: -10px;
  display: inline-block;
  position: absolute;
  right: -30px;
  width: 140px;
}

.rating {
  bottom: 15px;
  left: 15px;
  position: absolute;

  li {
    margin-left: 5px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    background: green;
    display: block;
    height: 20px;
    width:20px;
  }
}