@include mf-layout;

/* Extends __________________________________________________________ */

/* runde Ecken */

%s-round-1 {
  @include border-radius(3px);
}

%m-round-1-0-0-1 {
  @include border-radius(5px 0 0 5px);
}

/* Schatten */

%boxshadow-login {
  @include box-shadow(0 6px 7px -2px rgba(darken($gray,30%), 0.8));
}

%boxshadow-btn {
  @include box-shadow(2px 2px 2px rgba($blue, 0.8))
}

%boxshadow-meta {
  @include box-shadow(0 3px 5px rgba(darken($gray,30%), 0.8))
}

/* Sonstige */

%box-sizing {
  @include box-sizing(border-box);
}

/* Allgemein ________________________________________________________ */

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.box {
  padding: 15px;
}

/* Layout */

.wrapper {
  width: 100%;
}

header {
  min-height: 150px;
  position: relative;
}

.inner {
  display: block;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  width: 960px;
}

footer {
  border: solid $blue;
  border-width: 5px 0 5px;
}

.logo {
  display: inline-block;
  left: 15px;
  position: absolute;
  top: 50px;
}

/* Warenkorb */

.amount,
.price,
.text {
  display: inline-block;    
}

.card {
  background: $blue;
  display: block;
  height: 40px;
  position: relative;
}

.amount {
  background: $blue;
  display: inline-block;
  height: 40px;
  width: 40px;

  span {
    left: 40px;
    position: absolute;
    top: 10px;
  }
}

.price {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Navigation _______________________________________________________ */

.meta {
  @extend %boxshadow-meta;
  background: lighten($blue, 30%);
  border-top: 5px solid $blue;
  height: 40px;
  width: 100%;
  z-index: $z-basic;
}

.meta-nav,
.main-nav,
.footer-nav {
  li {
    float: left;
  }
}

.meta-nav,
.footer-nav {
  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}


/* Metanavigation */

.meta-nav {
  position: absolute;
  right: 100px;
  top: 10px;
  width: 200px;

  a:active,
  a:hover,
  a:focus {
    border-bottom: 1px dotted darken($gray, 50%);
  }
}

/* Suche */

.search {
  position: absolute;
  right: 15px;
  top: 80px;
  
  .input {
    @extend %m-round-1-0-0-1;
  }

  .btn {
    margin-left: -5px;
  }
}

/* Login-menu */

.login {
  position: absolute;
  right: 15px;
  top: 0;

  &:active,
  &:hover,
  &:focus {
    .login-form {
      display: block;
    }

    .login-btn {
      background: $blue;
    }
  }
}

.login-btn {
  @extend %box-sizing;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 5px 5px 7px;
  width: 80px;
}

.login-form {
  @extend %boxshadow-login;
  background: #fff;
  border: solid lighten($blue,20%);
  border-width: 0 2px 2px;
  display: none;
  padding: 20px 20px 50px;
  position: absolute;
  right: -2px;
  width: 400px;
  z-index: $z-meta;

  li {
    float: left;
    margin-left: 5px;

    &:first-child {
      margin: 0;
    }
  }
}

.register {
  bottom: 20px;
  left: 20px;
  position: absolute;

  li {
    margin-left: 10px;

    &:first-child {
      margin: 0;
    }

    &:active,
    &:hover,
    &:focus {
      border-bottom: 1px dotted darken($gray, 50%);
    }
  }
}

/* Hauptnavigation */

.main-nav {
  bottom: 0;
  position: relative;

  .layer0 {
    display: table;
    width: 100%;

    > li {
      display: table-cell;
      width: 33.33%;
    
      a {
        background: $blue;
      }

      a:active,
      a:hover,
      a:focus,
      strong {
        background: $blue;
        @include box-shadow(inset 0 0 5px rgba(0,0,0,.9));
      }

      a,
      strong {
        display: block;
        padding: 10px;
      }

      strong a {
        margin: -12px;
      }
    }
  }

  .layer1 {
    @include box-shadow(0 0 6px rgba(0,0,0,.6));
    display: none;
  }
}

/* Footer-Navigation */

.footer-nav {
  height: 100px;

}

/* Produkte */

.products {
  li {
    float: left;
    margin: 10px 5px 0;
    padding: 5px;

    &:first-child {
      // margin-left: 0;
    }
  }
}

.product-card {
  @include box-shadow(0 0 6px rgba(0,0,0,.6));
  border: 2px solid $blue;
  display: block;
  position: relative;
  width: 400px;

  .heading {
    margin-bottom: 20px;
  }
}
  
.image {
  @include box-shadow(0 0 6px rgba(0,0,0,.6));
  border: 1px solid $blue;
  margin-bottom: 20px;

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}

.booking {
}

.add {
  display: inline-block;
}

.rating {

  li {
    margin-left: 5px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    background: green;
    display: block;
    height: 20px;
    width:20px;
  }
}

/* Filter */

.filter {
  background: $blue;

  label {
    margin-left: 5px;
  }
}

/* Button */

.btn {
  @extend %box-sizing;
  @extend %boxshadow-btn;
  background: $blue;
  border: 1px solid $blue;
  cursor: pointer;
  height: 30px;
  padding: 5px 5px 7px;

  &:active,
  &:hover,
  &:focus {
    background: lighten($blue, 30%);
  }
}

.input {
  @extend %box-sizing;
  @extend %s-round-1;
  border: 1px solid $blue;
  height: 30px;
  padding: 5px;
}