/* Farben ___________________________________________________________ */

/* blau */

$dark-blue: #004F9F;
$lighter-blue: lighten($dark-blue, 40%);
$light-blue: lighten($dark-blue, 30%);
$blue: lighten($dark-blue,20%);
$medium-blue: lighten($dark-blue, 10%);

/* grau */

$lighter-grey: #f0f0f0;
$grey: #aaaaaa;
$light-grey: lighten($grey, 15%);
$medium-grey: darken($grey, 30%);
$dark-grey: darken($grey, 50%);

/* Sonstige */

$green: green;
$red: red;

/* Bilder ___________________________________________________________ */

$ico-edit: "ico-edit.png";
$ico-edit-hover: "ico-edit-hover.png";
$ico-delete: "ico-delete.png";
$ico-delete-hover: "ico-delete-hover.png";
$ico-cart: "ico-cart.png";
$ico-cart-hover: "ico-cart-hover.png";
$ico-new: "ico-new.png";
$ico-new-hover: "ico-new-hover.png";
$ico-payed: "ico-payed.png";
$ico-payed-hover: "ico-payed-hover.png";
$ico-notpayed: "ico-notpayed.png";
$ico-notpayed-hover: "ico-notpayed-hover.png";
$ico-rate: "ico-rate.png";
$ico-rate-hover: "ico-rate-hover.png";
$ico-rate-set: "ico-rate-set.png";
$ico-search: "ico-search.png";
$ico-search-hover: "ico-search-hover.png";
$ico-show: "ico-show.png";
$ico-show-hover: "ico-show-hover.png";
$ico-file: "ico-file.png";
$ico-file-hover: "ico-file-hover.png";
$ico-edge: "ico-edge.png";
$ico-edge-hover: "ico-edge-hover.png";

/* Indizes __________________________________________________________ */

$z-basic:             1;
$z-medium:            5;
$z-high:             10;

/* Mixins ___________________________________________________________ */

%textshadow-dark {
  @include text-shadow(1px 1px 1px rgba(#000, 0.7));
}

%textshadow-white {
  @include text-shadow(1px 1px 1px #fff);
}

/* Fertige */

@mixin mf-layout ($columns: 12, $col-margin: 2.1276%) {
  
  // $columns: 24, $col-margin: 1.052631578947368%

  .cols {
    margin: 0;
    zoom: 1;

    &:after {
      clear: both;
      content: ".";
      display: block;
      height: 0;
      font-size: 0;
      visibility: hidden;
    }
  }
  .col {
    float: left;
    min-height: 1px;

    &:first-child {
      margin-left: 0;
    }
  }

  $i: $columns;
  @while $i > 0 {
    .c#{$i}of#{$columns} {
      margin-left: $col-margin;
      width: ((((100% / $columns) * $i) + (($col-margin / $columns) * $i)) - $col-margin);
    }
    $i: $i - 1;
  }
}

/* Base64 background-image */
@mixin base64-image($url) {
  background-image: inline-image($url); 
 *background-image: image-url($url);
}

/* Font */

@mixin mf-webfont($fontname, $fontpath: "/assets/font") {
  @font-face {
    font-family: quote($fontname);
    src:url("#{$fontpath}/#{$fontname}.eot");
    src:url("#{$fontpath}/#{$fontname}.eot?#iefix") format("embedded-opentype"),
        url("#{$fontpath}/#{$fontname}.ttf") format("truetype"),
        url("#{$fontpath}/#{$fontname}.svg##{$fontname}") format("svg"),
        url("#{$fontpath}/#{$fontname}.woff") format("woff");
  }
}
