/* Allgemein ______________________________________________ */

/* Header */

.text{
  text-indent: -999em;
}

/* Navigation _____________________________________________ */

/* Hauptnavigation */

.layer0 {
  text-align: center;
}

//

/* Produkte */

.rating {
  text-indent: -999em;
}

.booking {
  font: {
    size: 2em;
  }

  span {
    font: {
      size: 0.5em;
    }
  }
}