/* Allgemein ______________________________________________ */

body {
  font-size: 62.5%;
  font-family: "Arial";
}

a {
  color: lighten($blue, 10%);
  font-size: 1.4em;
  text-decoration: none;
}

/* Header */

.text{
  // text-indent: -999em;
  height: 0;
}

/* Navigation _____________________________________________ */

/* Hauptnavigation */

.main-nav {
  a,
  strong {
    @include text-shadow(rgba(0,0,0,.8));
    font-size: 1.4em;
  }

  strong a {
    font-size: 1em;
  }
}

.layer0 {
  text-align: center;

  > li > {
    a {
      text-decoration: none;
    }

    a,
    strong,
    strong a {
      color: #fff;
    }
  }

  a:active,
  a:hover,
  a:focus,
  strong {
    text-decoration: underline;
  }
}

/* Meta-navigation */

.meta-nav {
  a {
    @extend %textshadow-dark;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      @extend %textshadow-white;
      color: darken($gray, 50%);
    }
  }
}

/* Login-menu */

.login {
  &:active,
  &:hover,
  &:focus {
    .login-btn {
      color: lighten($blue, 40%);
    }
  }
}

.login-btn {
  color: $blue;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2.3;
  text-align: center;
  text-decoration: none;
}

.register {
  a:active,
  a:hover,
  a:focus {
    color: darken($gray, 50%);
  }
}

/* Produkte */

.product-card {
  .heading {
    text-align: center;
  }
}

.rating {
  text-indent: -999em;
}

.booking {
  font: {
    size: 2em;
  }

  span {
    font: {
      size: 0.5em;
    }
  }
}

/* Button */

.btn {
  @extend %textshadow-dark;
  color: #fff;
  font-weight: bold;  

  &:active,
  &:hover,
  &:focus {
    @extend %textshadow-white;
    color: darken($gray, 50%);
  }
}

.input {
  color: $blue;
}