/* Allgemein ______________________________________________ */

@include mf-webfont(ExpletusSans-Bold);
@include mf-webfont(ExpletusSans-Regular);

body {
  font-size: 62.5%;
  font-family: "Arial";
}

a {
  color: $medium-blue;
  font-size: 1.4em;
  text-decoration: none;
}

/* Header */

.text{
  // text-indent: -999em;
  height: 0;
}

/* Navigation _____________________________________________ */

/* Hauptnavigation */

.main-nav {
  a,
  strong {
    @include text-shadow(rgba(0,0,0,.8));
    font-family: "ExpletusSans-Bold";
    font-size: 1.5em;
    font-weight: normal;
  }

  strong a {
    font-size: 1em;
  }
}

.layer0 {
  text-align: center;

  > li > {
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  a:active,
  a:hover,
  a:focus,
  strong {
    color: $dark-grey;
    text-decoration: underline;
  }
}

.layer1 {
  a {
    color: $dark-blue;
  }

  a,
  strong {
    text-align: left;
  }
}

/* Meta-navigation */

.meta-nav {
  a {
    @extend %textshadow-dark;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      @extend %textshadow-white;
      color: $dark-grey;
    }
  }
}

/* Login-menu */

.login {
  &:active,
  &:hover,
  &:focus {
    .login-btn {
      color: $lighter-blue;
    }
  }
}

.login-btn {
  color: $dark-blue;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2.3;
  text-align: center;
  text-decoration: none;
}

.register {
  a:active,
  a:hover,
  a:focus {
    color: $dark-grey;
  }
}

/* Produkte */

.product-card {
  .heading {
    text-align: center;
  }
}

.rating {
  text-indent: -999em;
}

.booking {
  font: {
    size: 2em;
  }

  span {
    font: {
      size: 0.5em;
    }
  }
}

/* Button */

.btn {
  @extend %textshadow-dark;
  color: #fff;
  font-family: "ExpletusSans-Bold";
  font-size: 1.5em;

  &:active,
  &:hover,
  &:focus {
    @extend %textshadow-white;
    color: d$dark-grey;
    font-family: "ExpletusSans-Bold";
  }
}

.input {
  color: $dark-blue;
}