@include mf-layout;

/* Extends __________________________________________________________ */

/* runde Ecken */

%s-round-1 {
  @include border-radius(3px);
}

%m-round-1-0-0-1 {
  @include border-radius(5px 0 0 5px);
}

/* Schatten */

%boxshadow-login {
  @include box-shadow(0 6px 7px -2px rgba($medium-grey, 0.8));
}

%boxshadow-btn {
  @include box-shadow(2px 2px 2px rgba($dark-blue, 0.8))
}

%boxshadow-meta {
  @include box-shadow(0 3px 5px rgba($medium-grey, 0.8))
}

%boxshadow-footer {
  @include box-shadow(0 -3px 5px rgba($medium-grey, 0.8))
}

/* Sonstige */

%box-sizing {
  @include box-sizing(border-box);
}

/* Allgemein ________________________________________________________ */

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.box {
  padding: 15px;
}

.small-box {
  padding: 0 10px;
}

/* Layout */

.wrapper {
  background: $lighter-grey;
  width: 100%;
}

header {
  background: #fff;
  min-height: 250px;
  position: relative;
}

.inner {
  display: block;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  width: 80%;
}

.main {
  @extend %boxshadow-footer;
  min-height: 500px;
  position: relative;
}

footer {
  @extend %boxshadow-footer;
  background: $light-blue;
  border-bottom: 5px solid $dark-blue;
  border-top: 1px solid #fff;
}

.logo {
  display: inline-block;
  left: 15px;
  position: absolute;
  top: 100px;
}

/* Typo _____________________________________________________________ */

.heading {
  display: block;
  margin-bottom: 20px;
}

h1 {
  visibility: hidden;
  position: absolute;
}

/* Navigation _______________________________________________________ */

.meta {
  @extend %boxshadow-meta;
  background: $light-blue;
  border-bottom: 1px solid #fff;
  border-top: 5px solid $dark-blue;
  height: 40px;
  width: 100%;
  z-index: $z-basic;
}

.meta-nav,
.footer-nav {
  li {
    float: left;
  }
}

.meta-nav,
.footer-nav {
  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}


/* Metanavigation */

.meta-nav {
  position: absolute;
  right: 100px;
  top: 11px;
  min-width: 200px;

  a:active,
  a:hover,
  a:focus {
    border-bottom: 1px dotted $dark-grey;
  }

  ul {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }
}

/* Suche */

.search {
  position: absolute;
  right: 220px;
  top: 136px;
  
  .input {
    @extend %m-round-1-0-0-1;
    background: $lighter-grey;
    height: 40px;
  }
}

/* Login-menu */

.login {
  position: absolute;
  right: 15px;
  top: 0;

  &:active,
  &:hover,
  &:focus {
    .login-form {
      display: block;
    }

    .login-btn {
      background: $dark-blue;
    }
  }
}

.login-btn {
  @extend %box-sizing;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 5px 5px 7px;
  width: 80px;
}

.login-form {
  @extend %boxshadow-login;
  background: #fff;
  border: solid $blue;
  border-width: 0 2px 2px;
  display: none;
  padding: 20px 20px 50px;
  position: absolute;
  right: -2px;
  width: 398px;
  z-index: $z-meta;

  li {
    float: left;
    margin-left: 5px;

    &:first-child {
      margin: 0;
    }
  }

  .input {
    width: 145px;
  }
}

.register {
  bottom: 20px;
  left: 20px;
  position: absolute;

  li {
    margin-left: 10px;

    &:first-child {
      margin: 0;
    }
  }

  a:active,
  a:hover,
  a:focus {
    border-bottom: 1px dotted $dark-grey;
  }
}

/* Hauptnavigation */

.main-nav {
  bottom: 0;
  margin: 30px auto 50px;
  position: relative;
  max-width: 900px;
}

.layer0 {
  background: $dark-blue;
  display: table;
  width: 100%;

  > li {
    display: table-cell;
    width: 33.33%;
  
    > a {
      background: $dark-blue;
      border: 1px solid #fff;
      position: relative;
      z-index: $z-basic;
    }

    &:active > a,
    &:hover > a,
    &:focus > a,
    > strong {
      @include box-shadow(0 6px 5px -4px rgba($dark-blue,.5));
      background: #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid $lighter-blue;
      border-right: 1px solid $lighter-blue;
      border-top: 5px solid $dark-blue;
      margin: -5px 0 0;
      position: relative;
      z-index: $z-meta;
    }

    &:active,
    &:hover,
    &:focus {
      .layer1 {
        display: block;
      }
    }

    > a,
    > strong {
      display: block;
      padding: 10px;
    }

    > strong a {
      margin: -12px;
    }
  }
}

.layer1 {
  @include box-shadow(0 0 6px rgba(0,0,0,.6));
  display: none;
  margin-top: 10px;
  position: absolute;
  width: 33.33%;
  z-index: $z-subnavi;

  a,
  li,
  strong {
    display: block;
  }

  li {
    background: #fff;
    border-top: 1px solid $grey;
    position: relative;

    &:first-child {
      border: 0;
    }
  }

  a,
  strong {
    padding: 10px 20px;
  }

  li:active a,
  li:hover a,
  li:focus a,
  strong {
    background: $light-blue;

    .ico-info {
      @include base64-image($ico-edge-hover);
    }
  }
}

.ico-info {
  background: 30px 0 no-repeat;
  @include base64-image($ico-edge);
  display: block;
  height: 10px;
  margin-top: -10px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Footer-Navigation */

.footer-nav {
  height: 100px;

  ul {
    float: right;
  }
}

/* Warenkorb */

.amount,
.price,
.text {
  display: inline-block;    
}

.card {
  background: $light-blue;
  display: block;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 136px;
  width: 180px;
  
  &:active,
  &:hover,
  &:focus {
    .amount {
      @include base64-image($ico-cart-hover);
    }
  }
}

.amount {
  background: 8px 8px no-repeat $medium-grey;
  @include base64-image($ico-cart);
  display: inline-block;
  height: 40px;
  width: 60px;

  span {
    left: 42px;
    position: absolute;
    top: 8px;
  }
}

.price {
  position: absolute;
  right: 10px;
  top: 9px;
}


/* Produkte _________________________________________________________ */

.products {
  display: inline-block;

  > li {
    float: left;
    margin: 20px 10px 0;
    max-width: 400px;
    min-width: 200px;
  }

  .col {
    position: relative;
  }
}

.product-card {
  @include box-shadow(0 0 6px rgba(0,0,0,.6));
  background: #fff;
  border: 1px solid $blue;
  display: block;
  position: relative;

  .heading {
    background: $blue;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }
}
  
.image {
  @include box-shadow(0 0 6px rgba(0,0,0,.6));
  border: 1px solid $dark-blue;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 100%;

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
}

.booking {
}

.add {
  display: inline-block;
  float: right;
  margin-bottom: 20px;
}

/* Bewertung */

.rating {
  display: inline-block;
  margin: 10px 0 20px;
  width: 100%;

  li {
    display: inline;
    float: left;
    margin-left: 10px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }
  }
}

.star {
  background: 0 0 no-repeat;
  @include base64-image($ico-rate-set);
  display: block;
  height: image-height($ico-rate);
  width: image-width($ico-rate);

  &:active,
  &:hover,
  &:focus {
    @include base64-image($ico-rate-hover);
  }
}

.empty {
  @include base64-image($ico-rate);
}

/* Genre */

.genre-list {
  display: inline-block;
  margin-bottom: 20px;

  &:after {
    clear: both;
    content: "";
    display: block;
  }

  li {
    border-left: 1px solid $grey;
    float: left;
    margin-left: 10px;
    padding-left: 10px;

    &:first-child {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

/* Filter */

.filter {
  background: $medium-grey;
  border: 2px solid $dark-blue;
  margin-top: 20px;

  li {
    margin-bottom: 5px;
  }

  .label {
    padding-left: 5px;
  }

  .input {
    margin: 5px 0 10px;
    width: 40%;
  }

  .until {
    margin-left: 2px;
  }

  p {
    display: inline-block;
  }
}

/* Button ___________________________________________________________ */

.btn,
.search-btn {
  @extend %box-sizing;
  border: 1px solid $dark-blue;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
}

.btn {
  @extend %boxshadow-btn;
  background: $dark-blue;

  &:active,
  &:hover,
  &:focus {
    background: $light-blue;
  }
}

.search-btn {
  background: $light-blue;
  margin-left: -5px;
}

.form-btn {
  float: right;
  margin-top: 40px;
}

.new-btn {
  background: 5px 3px no-repeat $dark-blue;
  @include base64-image($ico-new);
  margin-bottom: 20px;
  padding: 2px 10px 2px 40px;

  &:active,
  &:hover,
  &:focus {
    background: 5px 3px no-repeat $light-blue;
    @include base64-image($ico-new-hover);
  }
}

/* Formulare ________________________________________________________ */

.label {
  margin-right: 10px;
  vertical-align: middle;
}

.input,
.textarea,
.select {
  @extend %box-sizing;
  @extend %s-round-1;
  background: #fff;
  border: 1px solid $dark-blue;
  padding: 5px;
  vertical-align: middle;
}

input[type="checkbox"] {
  vertical-align: middle;
}

.input {
  height: 32px;
}

.form {
  margin-top: 20px;
  padding-bottom: 20px;

  .label,
  .input,
  .select,
  .textarea {
    display: block;
    margin-bottom: 10px;
  }

  .file-input {
    margin-bottom: 20px;
  }

  .input,
  .textarea,
  .select {
    width: 100%;
  }

  .textarea {
    min-height: 105px;
  }
}

/* Tabelle __________________________________________________________ */

table {
  @extend %s-round-1;
  border: 1px solid $blue;
  margin-bottom: 20px;
  width: 100%;

  .heading {
    margin-bottom: 0;
  }
}

thead,
tfoot {
  background: $light-blue;
  border: 0;
}

td,
th {
  border-left: 1px solid $dark-blue;
  padding: 5px 10px;

  &:first-child {
    border: 0;
  }
}

tbody {
  tr {
    background: $light-grey;

    &:nth-child(odd) {
      background: #fff;
    }
  }
}


/* Icons ____________________________________________________________ */

.edit,
.delete,
.show,
.payed,
.notpayed {
    background: 50% 0 no-repeat;
    display: inline-block;
    height: 25px;
    width: 100%;
}

.edit {
  @include base64-image($ico-edit);

  &:active,
  &:hover,
  &:focus {
    @include base64-image($ico-edit-hover);    
  }
}

.delete {
  @include base64-image($ico-delete);

  &:active,
  &:hover,
  &:focus {
    @include base64-image($ico-delete-hover);
    
  }
}

.show {
  @include base64-image($ico-show);

  &:active,
  &:hover,
  &:focus {
    @include base64-image($ico-show-hover);    
  }
}

.payed {
  @include base64-image($ico-payed);

  &:active,
  &:hover,
  &:focus {
    @include base64-image($ico-payed-hover);    
  }
}

.notpayed {
  @include base64-image($ico-notpayed);

  &:active,
  &:hover,
  &:focus {
    @include base64-image($ico-notpayed-hover);    
  }
}
