{% extends 'WebShopBundle::site.html.twig' %}

{% block content %}

<h2 class="heading style1">Allgemeine Geschäftsbedingungen</h2>


<p><strong>1. Zustandekommen des Vertrags</strong><br>
Mit Ihrer Bestellung geben Sie ein verbindliches Angebot an uns ab, einen Vertrag mit Ihnen zu schließen. Mit der Zusendung einer Auftragsbestätigung per E-Mail an Sie oder der Lieferung der bestellten Ware können wir dieses Angebot annehmen. Zunächst erhalten Sie eine Bestätigung des Eingangs Ihrer Bestellung per E-Mail an die von Ihnen angegebene E-Mail-Adresse (Bestellbestätigung). Ein Kaufvertrag kommt jedoch erst mit dem Versand unserer Auftragsbestätigung per E-Mail an Sie oder mit der Lieferung der bestellten Ware zustande.

Bei der Bestellung über unseren Onlineshop umfasst der Bestellvorgang insgesamt 4 Schritte. Im ersten Schritt wählen Sie die gewünschten Waren aus. Im zweiten Schritt können sie ihre Bestellung noch einmal prüfen, bevor sie im dritten Schritt zur Kasse gehen. Im letzten Schritt haben Sie die Möglichkeit, Angaben zu ihrer Adresse noch einmal zu überprüfen und ggf. zu korrigieren, bevor Sie Ihre Bestellung durch Klicken auf 'Kostenpflichtig bestellen' an uns absenden. 
</p><br><p><strong>
2. Speicherung des Vertragstextes</strong><br>
Den Vertragstext Ihrer Bestellung speichern wir. Wir senden Ihnen außerdem eine Bestellbestätigung mit allen Bestelldaten an die von Ihnen angegebene E-Mail-Adresse.
</p><br><p><strong>
3. Eigentumsvorbehalt</strong><br>
Die gelieferte Ware bleibt bis zur vollständigen Bezahlung aller Forderungen unser Eigentum.
</p><br><p><strong>
4. Preise, Versandkosten, Rücksendekosten bei Widerruf</strong><br>
Alle Preise sind Endpreise, sie enthalten die gesetzliche Mehrwertsteuer. Die Versandkosten pro Bestellung betragen 6,90 Euro.
Soweit Sie von einem bestehenden Widerrufsrecht Gebrauch machen, haben Sie die regelmäßigen Kosten der Rücksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zurückzusendenden Sache einen Betrag von 40 Euro nicht übersteigt oder wenn Sie bei einem höheren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die Rücksendung für Sie kostenfrei.
</p><br><p><strong>
5. Lieferbedingungen</strong><br>
Sofern nicht beim Angebot anders angegeben, bringen wir die Ware innerhalb von 2 Werktagen nach Zustellung der Bestellbestätigung in den Versand. 
</p><br><p><strong>
6. Zahlungsbedingungen</strong><br>
Die Zahlung erfolgt per Rechnung. Der Rechnungsbetrag ist binnen14 Tagen auf unser Konto zu überweisen. Ein Zurückbehaltungsrecht können Sie nur ausüben, soweit die Ansprüche aus dem gleichen Vertragsverhältnis resultieren.
</p><br><p><strong>
7. Gewährleistung</strong><br>
Die Gewährleistung richtet sich nach den gesetzlichen Bestimmungen. Soweit gebrauchte Waren Gegenstand des Kaufvertrags sind und der Käufer nicht Verbraucher ist, wird die Gewährleistung ausgeschlossen. Ist der Kunde Verbraucher, beträgt die Gewährleistungsfrist beim Kauf gebrauchter Sachen ein Jahr.
</p><br><p><strong>
8. Datenschutz</strong><br>
Bei Anbahnung, Abschluss, Abwicklung und Rückabwicklung eines Kaufvertrages werden von uns Daten im Rahmen der gesetzlichen Bestimmungen erhoben, gespeichert und verarbeitet.
Beim Besuch unseres Internetangebots werden die aktuell von Ihrem PC verwendete IP-Adresse, Datum und Uhrzeit, der Browsertyp und das Betriebssystem Ihres PC sowie die von Ihnen betrachteten Seiten protokolliert. Rückschlüsse auf personenbezogene Daten sind uns damit jedoch nicht möglich und auch nicht beabsichtigt.
Die personenbezogenen Daten, die Sie uns z. B. bei einer Bestellung oder per E-Mail mitteilen (z. B. Ihr Name und Ihre Kontaktdaten), werden nur zur Korrespondenz mit Ihnen und nur für den Zweck verarbeitet, zu dem Sie uns die Daten zur Verfügung gestellt haben. Wir geben Ihre Daten nur an das mit der Lieferung beauftragte Versandunternehmen weiter, soweit dies zur Lieferung der Waren notwendig ist. Zur Abwicklung von Zahlungen geben wir Ihre Zahlungsdaten an das mit der Zahlung beauftragte Kreditinstitut weiter.
Wir versichern, dass wir Ihre personenbezogenen Daten im Übrigen nicht an Dritte weitergeben, es sei denn, dass wir dazu gesetzlich verpflichtet wären oder Sie vorher ausdrücklich eingewilligt haben. Soweit wir zur Durchführung und Abwicklung von Verarbeitungsprozessen Dienstleistungen Dritter in Anspruch nehmen, werden die Bestimmungen des Bundesdatenschutzgesetzes eingehalten.
Dauer der Speicherung
Personenbezogene Daten, die uns über unsere Website mitgeteilt worden sind, werden nur so lange gespeichert, bis der Zweck erfüllt ist, zu dem sie uns anvertraut wurden. Soweit handels- und steuerrechtliche Aufbewahrungsfristen zu beachten sind, kann die Dauer der Speicherung bestimmter Daten bis zu 10 Jahre betragen.
Ihre Rechte
Sollten Sie mit der Speicherung Ihrer personenbezogenen Daten nicht mehr einverstanden oder diese unrichtig geworden sein, werden wir auf eine entsprechende Weisung hin im Rahmen der gesetzlichen Bestimmungen die Löschung, Korrektur oder Sperrung Ihrer Daten veranlassen. Auf Wunsch erhalten Sie unentgeltlich Auskunft über alle personenbezogenen Daten, die wir über Sie gespeichert haben. Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, für Auskünfte, Berichtigung, Sperrung oder Löschung von Daten wenden Sie sich bitte an:
<br><br>
 ScheibenBude, Buden Straße 123, 01234 Scheibenheim <br>
<br><br>
Links auf andere Internetseiten<br>
Soweit wir von unserem Internetangebot auf die Webseiten Dritter verweisen oder verlinken, können wir keine Gewähr und Haftung für die Richtigkeit bzw. Vollständigkeit der Inhalte und die Datensicherheit dieser Websites übernehmen. Da wir keinen Einfluss auf die Einhaltung datenschutzrechtlicher Bestimmungen durch Dritte haben, sollten Sie die jeweils angebotenen Datenschutzerklärungen gesondert prüfen. 

</p><br><p><strong>
9. Anwendbares Recht</strong><br>
Es gilt ausschließlich deutsches Recht. Gegenüber einem Verbraucher gilt diese Rechtswahl nur insoweit, als dadurch keine zwingenden gesetzlichen Bestimmungen des Staates, in dem er seinen Wohnsitz oder gewöhnlichen Aufenthalt hat, eingeschränkt werden.

</p>
{% endblock %}