{% extends 'WebShopBundle::site.html.twig' %}

{% block content %}

<h2 class="heading style1">Versand und Bezahlung</h2>


<p><strong>
Versandbedingungen</strong><br>
Sofern nicht beim Angebot anders angegeben, bringen wir die Ware innerhalb von 2 Werktagen nach Zustellung der Bestellbestätigung in den Versand. 
</p><br><p>
<p><strong>
Zahlungsbedingungen</strong><br>
Die Zahlung erfolgt per Rechnung. Der Rechnungsbetrag ist binnen14 Tagen auf unser Konto zu überweisen. Ein Zurückbehaltungsrecht können Sie nur ausüben, soweit die Ansprüche aus dem gleichen Vertragsverhältnis resultieren.
</p><br>
{% endblock %}