{% extends 'WebShopBundle::site.html.twig' %}

{% block content %}

<h2 class="heading style1">Passwort zurücksetzen</h2>

<p>Ihnen wurde ein neues Passwort per Email zugesandt. Bitte loggen Sie sich ein um dieses wieder zu ändern.</p>

{% endblock %}