{% extends 'WebShopBundle::site.html.twig' %}

{% block content %}

<h2 class="heading style1">Passwort neusetzen</h2>

<p>Ihr Benutzername und Hinweise, wie Sie ein neues Kennwort erhalten, wurden Ihnen per E-Mail zugeschickt.</p>

{% endblock %}