{% extends 'WebShopBundle::site.html.twig' %}

{% block content %}

<h2 class="heading style1">Passwort zurücksetzen</h2>

<p>Ihr Benutzername sowie eine Anleitung wie Sie ein neues Kennwort erhalten, wurde Ihnen per E-Mail zugeschickt.</p>

{% endblock %}