<p>
Hallo {{ user.username }},<br>
<br>

Bitte folen Sie dieser Url um ein neues Passwort zu erhalten.
</p>
<p>
<a href="http://scheiben-bude.etooby.com{{ path('reset_password_save', { 'code': code }) }}">{{ code }}</a>

</p>