{% extends 'WebShopBundle::admin.html.twig' %}

{% block title %} Admin Control Panel{% endblock %}

{% block content %}

<h2>Genre Verwaltung</h2>

<a href="{{ path('admin_genre_new') }}">new</a>
<ul>
    {% for genre in genres %}
        <li>{{ genre.name }} - <a href="{{ path('admin_genre_delete', { 'id': genre.id}) }}">X</a></li>
    {% endfor %}
</ul>

{% endblock %}