
<p>
Hallo {{ user.username }},<br>
<br>
vielen Dank für Ihre Bestellung. <br>
Wir wünschen Ihnen viel Spaß mit Ihren Einkäufen.
</p>
<p>

Im Anhang finden Sie Ihre Bestellung/Rechnung.

</p>

<p>
Ihr Scheiben-Bude.de.vu Team
</p>



