              <a class="card" href="{{ path('cart') }}">
               	<span class="amount">
                	<span>{{ cartCount }}</span>
               	</span>
                <span class="price">({{ cartSum }}&euro;)</span>
              </a>