{% extends '::base.html.twig' %}

{% block body %}

<h2>edit Product</h2>
<form action="{{  path('admin_product_save', {'id':id}) }}" method="post" {{ form_enctype(form) }} }}>

{% include 'WebShopBundle:Product:_form.html.twig' %}
    
<input type="submit" />
{{ form_end(form) }}
{% endblock %}