{% extends 'WebShopBundle::admin.html.twig' %}

{% block title %} Admin Control Panel{% endblock %}

{% block content %}

<h2>Produkt bearbeiten</h2>

<form action="{{  path('admin_product_save', {'id':id}) }}" method="post" {{ form_enctype(form) }} }}>

{% include 'WebShopBundle:Product:_form.html.twig' %}
    
<input type="submit" />
{{ form_end(form) }}
{% endblock %}