{% extends 'WebShopBundle::admin.html.twig' %}

{% block title %} Admin Control Panel{% endblock %}

{% block content %}

<h2 class="heading style2">Produkt Bearbeiten</h2>

<form  class="form" action="{{  path('admin_product_save', {'id':id}) }}" method="post" {{ form_enctype(form) }} }}>

{% include 'WebShopBundle:Product:_form.html.twig' %}
    
<button class="btn form-btn" type="submit">Produkt speichern</button>
{{ form_end(form) }}
{% endblock %}