{% extends 'WebShopBundle::admin.html.twig' %}

{% block title %} Admin Control Panel{% endblock %}

{% block content %}

<h2>Produkt Verwaltung</h2>


<p>
  <a href="{{ path('admin_product_new') }}">new</a>
</p>
<ul>
    {% for product in products %}
        <li>{{ product.title }}  - <a href="{{ path('admin_product_remove', { 'id': product.id}) }}">X</a> - <a href="{{ path('admin_product_edit', { 'id': product.id}) }}">E</a></li>
    {% endfor %}
</ul>

{% endblock %}