{% extends 'WebShopBundle::admin.html.twig' %}

{% block title %} Admin Control Panel{% endblock %}

{% block content %}


<h2>Admin Control Panel</h2>

<a href="{{ path('admin_genre') }}">Genre Verwaltung</a><br>
<a href="{{ path('admin_user') }}">User Verwaltung</a><br>
<a href="{{ path('admin_product') }}">Product Verwaltung</a><br>
<br>
{% endblock %}
