{% extends "::base.html.twig" %}

{% block title %}WebShopBundle:Admin:index{% endblock %}

{% block body %}


<h2>Admin Control Panel</h2>

<a href="{{ path('admin_genre') }}">Genre Verwaltung</a>
<a href="{{ path('admin_user') }}">User Verwaltung</a>
<a href="{{ path('admin_product') }}">Product Verwaltung</a>
<br>
{% endblock %}
