{% extends '::base.html.twig' %}

{% block body %}

<h2>Registrierung Erfolgreich!</h2>

<p>Vielen Dank,<br>
dass Sie sich registriert haben.</p>



<p>
Klicken Sie <a href="{{ path('default') }}">hier</a>, um zur vorherigen Seite zurückzukehren. 
<p>

	
{% endblock %}