{% extends 'WebShopBundle::site.html.twig' %}

{% block content %}

<h2 class="heading style2">Registrierung Erfolgreich!</h2>

<p>Vielen Dank,<br>
dass Sie sich registriert haben.</p>



<p>
Loggen Sie sich nun ein.
<p>

	
{% endblock %}