
<p>
Hallo {{ user.username }},<br>
<br>
vielen Dank, dass Sie sich bei Scheiben-Bude.de.vu registriert haben. <br>
Wir wünschen Ihnen viel Spaß beim Shoppen.
</p>


<p>
Ihr Scheiben-Bude.de.vu Team
</p>



