jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    encoders:
        Web\Bundle\ShopBundle\Entity\User:
            algorithm: sha512
            encode_as_base64: true
            iterations: 5000

    role_hierarchy:
        ROLE_USER:       [ROLE_BLOCK, ROLE_INACTIVE]
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        main:
            entity: { class: Web\Bundle\ShopBundle\Entity\User }

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        secured_area:
            pattern:    ^/
            form_login:
                check_path: login_check
                login_path: login
            logout:
                path:   logout
                target: /
            anonymous: ~
            #http_basic:
            #    realm: "Secured Demo Area"

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY}
        - { path: ^/account, roles: ROLE_USER }
