{% extends '::base.html.twig' %}

{% block body %}

<ul>
    {% for product in products %}
        <li>
          <section>
          <strong>{{ product.title }}</strong>
          {{ product.genre }}
          {{ product.status }}
          </section>
        </li>
    {% endfor %}
</ul>

{% endblock %}